name: docker

on:
  push:
    branches:
      - main

env:
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'

jobs:
  push_to_registry:
    name: Deploy
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - name: Build and push
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u dafoam --password-stdin
        docker pull dafoam/opt-packages:latest
        docker run -i -d -u dafoamuser --name build_latest dafoam/opt-packages:latest /bin/bash
        docker exec -i build_latest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd /home/dafoamuser/dafoam/OpenFOAM && rm -rf cfmesh && git clone https://github.com/DAFoam/cfmesh.git && cd cfmesh && ./Allwmake -j && cd .. && rm -rf cfmesh"
        docker export build_latest | docker import - dafoam/opt-packages:latestnew
        docker rm -f $(docker ps -a -q)
        docker rmi -f dafoam/opt-packages:latest
        docker tag dafoam/opt-packages:latestnew dafoam/opt-packages:latest
        docker push dafoam/opt-packages:latest
